services:
  back:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: moplus-server-dev
    image: moplus-server-dev
    restart: always
    ports:
      - 8081:8080
    environment:
      - TZ=Asia/Seoul
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:mysql://${DEV_MYSQL_HOST}:3306/${DEV_MYSQL_DATABASE}?useSSL=false&characterEncoding=UTF-8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&tinyInt1isBit=false
      - SPRING_DATASOURCE_USERNAME=${DEV_MYSQL_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DEV_MYSQL_PASSWORD}
      - SENTRY_DSN=${SENTRY_DSN}
      - CLOUD_AWS_S3_BUCKET=${S3_BUCKET}
      - CLOUD_AWS_S3_SIGNATURE_VERSION=AWS4-HMAC-SHA256
      - CLOUD_AWS_CREDENTIALS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - CLOUD_AWS_CREDENTIALS_SECRET_KEY=${AWS_SECRET_KEY}
      - CLOUD_AWS_REGION_STATIC=${AWS_REGION}
      - CLOUD_AWS_REGION_AUTO=false
      - CLOUD_AWS_STACK_AUTO=false

    depends_on:
      - mysql
    networks:
      - moplus-dev
      - nginx-network

  mysql:
    image: mysql:8.0
    container_name: moplus-mysql-dev
    environment:
      MYSQL_ROOT_PASSWORD: ${DEV_MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DEV_MYSQL_DATABASE}
      MYSQL_USER: ${DEV_MYSQL_USER}
      MYSQL_PASSWORD: ${DEV_MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - dev_data:/var/lib/mysql
    networks:
      - moplus-dev
volumes:
  dev_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ../mopl_data/dev_data

networks:
  moplus-dev:
    driver: bridge
  nginx-network:
    external: true