<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>문제 이미지 업로드</title>
    <link href="/css/imageUploadPage.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>문제 이미지 업로드</h2>
    <table>
        <thead>
        <tr>
            <th>문제 ID</th>
            <th>문제 번호</th>
            <th>이미지</th>
            <th>업로드</th>
        </tr>
        </thead>
        <tbody>
        <!-- 반복문으로 문제 리스트 출력 -->
        <th:block th:each="problemForTest : ${problemImageRequests}">
            <tr>
                <td th:text="${problemForTest.problemId}">문제 ID</td>
                <td th:text="${problemForTest.problemNumber}">문제 번호</td>
                <td>
                    <!-- 이미지 URL이 있는 경우 이미지를 표시 -->
                    <img alt="문제 이미지" class="problemForTest-image" th:if="${problemForTest.imageUrl != null}"
                         th:src="${problemForTest.imageUrl}">
                    <!-- 이미지 URL이 없는 경우 업로드 버튼 표시 -->
                    <span th:if="${problemForTest.imageUrl == null}">이미지 없음</span>
                </td>
                <td>
                    <!-- 업로드 버튼 -->
                    <form enctype="multipart/form-data" method="post"
                          th:action="'/admin/practiceTests/uploadImage/' + ${problemForTest.problemId}">
                        <input accept="image/*" name="image" problemType="file">
                        <input name="practiceTestId" problemType="hidden" th:value="${practiceTestId}">
                        <button class="upload-button" problemType="submit">업로드</button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <!-- 완료 버튼 -->
    <div class="complete-button-container">
        <form action="/practiceTests" method="get">
            <button class="complete-button" problemType="submit">완료</button>
        </form>
    </div>
</div>
</body>
</html>
